<h1>StaticPages#help</h1>
<p>for help please go to www.google.com</p>
<a href="http://www.google.com/" >Google_it</a> 
 <h1>We are always ready to help</h1>

  <h2>
    This is the home page for the CAKE SHOP
    <a href="http://railstutorial.org/">Order now and get cakes for free</a>
    
  </h2>

  <%= link_to "Help ME", 'http://ruby.railstutorial.org/chapters/modeling-users#top', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

